.community {
  background: var(--neko-chat-background);
  width: 100%;
  height: 100%;
  display: flex;
  flex: 2 1;
  overflow: hidden;

  @media (max-width: 740px) {
    display: flex;
    flex-direction: column;
  }
}

