.membersEmpty {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
  background: var(--neko-settings-card);
  flex-direction: column;
}

.backButton {
  margin-right: 1rem;
  color: var(--neko-colors-primary);
}

.members {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding: 2rem;
  h2 {
    margin: 0;
    margin-left: 2px;
  }
  margin: -2px;

  h3 {
    margin-bottom: 0.3rem;
    span {
      float: right;
    }
  }

  table {
    @media (max-width: 800px) {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
    }
    width: 100%;
    margin-top: 0;
    thead {
      padding: 30px;
      th {
        padding: 0;
        font-weight: 500;
        font-size: 1.1rem;
        text-align: left;
      }
    }

    tr:first-child {
      td:first-child {
        border-top-left-radius: 10px;
      }
      td:last-child {
        border-top-right-radius: 10px;
      }
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 10px;
      }
      td:last-child {
        border-bottom-right-radius: 10px;
      }
    }

    tbody {
      tr {
        padding: 30px;
        height: 30px;
        background-color: var(--neko-settings-card);
        td {
          text-align: left;
          font-weight: 400;
          padding: 15px;
          font-size: 1rem;
          white-space: nowrap;
        }

        .copyAction {
          width: 49px;
          background-color: var(--neko-colors-primary);
          text-align: center;
          color: var(--neko-text);
        }

        .deleteAction {
          width: 49px;
          background-color: var(--neko-colors-danger);
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 940px), (max-height: 420px) {
  .membersEmpty {
    width: auto;
    margin-top: 4rem;
    padding: 2rem;
  }
}
