.newChannel {
  max-width: 300px;
  display: flex;
  flex-direction: column;

  h5 {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;

    .closeIcon {
      margin-left: auto;
      font-size: 1.6rem;
    }

    display: flex;
    align-items: center;
  }


  .type {
    button {
      margin-bottom: 0.5rem;
      background: var(--neko-input-background);

      &.selected {
        background: var(--neko-colors-secondary);
      }
    }
  }
  h3 {
    margin-top: 0;
  }
  h4 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  ul {
    padding-left: 1.1rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .label {
    margin-bottom: 0.3rem;
  }

  p {
    margin-top: 0.3rem;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    background: var(--neko-colors-primary);
  }

  .error {
    margin-top: 0.25rem;
    margin-bottom: 0;
    color: var(--neko-text-danger);
  }
}
