.newChannel {
  .inputName {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }

  .type {
    button {
      margin-bottom: 0.5rem;
      background: var(--neko-input-background);
      width: 100%;
      &.selected {
        background: var(--neko-colors-secondary);
      }
    }
  }

  input {
    width: 100%;
  }

  ul {
    padding-left: 1.1rem;
  }

  .error {
    margin-top: 0.25rem;
    margin-bottom: 0;
    color: var(--neko-text-danger);
  }

  .editOverrides {
    width: 100%;
    margin-top: 1rem;
    background: var(--neko-colors-warning);
  }

  .createButton {
    background: var(--neko-colors-primary);
  }

  .groups {
    max-height: 50%;
    .group {
      margin-bottom: 1rem;
      padding: 0.9rem 1.2rem;
      background: var(--neko-channels-background);
      border-radius: 13px;
      font-size: 1rem;

      svg {
        float: right;
        font-size: 1.25rem;
        color: var(--neko-text-primary);
      }

      &.remove {
        svg {
          color: var(--neko-text-danger);
        }
      }

      &:last-child {
        margin-bottom: 0rem;
      }
    }

    .permissions {
      margin-top: 1rem;
      li {
        margin-bottom: 0.5rem;
        border-radius: 11px;
        padding: 0.7rem;
        background: var(--neko-channels-background);
        list-style: none;
        width: 100%;
        display: flex;
        align-items: center;

        svg {
          font-size: 1.8rem;
          margin-left: auto;
        }
      }
    }
  }

  ul {
    margin-bottom: 0;
  }

  @media (max-width: 740px) {
    height: 100%;
  }
}
