.newChannel {
  max-width: 300px;
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 0;
  }
  h4 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  h5 {
    margin: 0;
  }
  ul {
    padding-left: 1.1rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .label {
    margin-bottom: 0.3rem;
  }

  p {
    margin-top: 0.3rem;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    background: var(--neko-colors-primary);
  }
}

.error {
  margin-top: 0.25rem;
  margin-bottom: 0;
  color: var(--neko-colors-danger);
}
