.wrapper {
  h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    span {
      float: right;
    }
  }
}

.channel {
  border: inherit;
  background: var(--neko-background);
  display: flex;
  align-items: center;
  padding: 0.75rem;
  margin-bottom: 0.25rem;

  svg {
    margin-right: 0.45rem;
  }
  h4 {
    margin: 0;
    padding: 0;
    margin-right: auto;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .muted {
    margin-left: auto;
    margin-right: 0;
  }
}

.selected {
  background: var(--neko-primary);
  color: var(--neko-text-inline);
}

.channels {
  > div {
    &:first-child {
      .channel {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    &:last-child {
      .channel {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.contextMenu {
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  background: var(--neko-background);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: var(--neko-shadow);

  div {
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--neko-foreground);

    &:hover {
      background: var(--neko-message-hover);
    }

    &:not(:first-child) {
      margin-top: 0.3rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }

    &:focus {
      outline: none;
    }
  }

  svg {
    margin-left: 0.8rem;
  }
}

.danger {
  color: var(--neko-danger);
}
