.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--neko-channels-background);
  min-width: 18rem;
  min-height: 5rem;

  @media (max-width: 800px) {
    width: 100%;
  }

  h3 {
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.3rem;

    span {
      float: right;
    }
  }
}

.sidebar {
  padding: 1.5rem;
  overflow-y: scroll;
  flex: 1;

  .container {
    position: relative;
  }
}

.contextMenu {
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  background: var(--neko-context-background);
  padding: 0.5rem;
  border-radius: 10px;

  div {
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--neko-sidebar-background);

    &:hover {
      background: var(--neko-message-hover);
    }

    &:not(:first-child) {
      margin-top: 0.3rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }

    &:focus {
      outline: none;
    }
  }

  svg {
    margin-left: 0.8rem;
  }
}

.danger {
  color: var(--neko-danger);
}

.menu .channel:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu .channel:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu {
  position: absolute;
  width: 100%;
  z-index: 100;
  background: var(--neko-context-background);
  padding: 0.5rem;
  border-radius: 10px;
  backdrop-filter: blur(20px);

  .menuItem {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;

    &:hover {
      background: var(--neko-colors-primary);
    }

    &:focus {
      outline: none;
    }
    svg {
      margin-left: auto;
    }

    &.danger {
      color: var(--neko-text-danger);
      &:hover {
        color: var(--neko-text-inverse);
        background: var(--neko-colors-danger);
      }
    }
  }

  hr {
    margin: 5px 0.5rem 5px 0.5rem;
    opacity: 0.2;
    border: 1px var(--neko-context-seperator) solid;
    border-radius: 2px;
  }

  &:focus {
    outline: none;
  }
}

// , (max-height: 420px)
@media (max-width: 940px) {
  .wrapper {
    height: 100%;
    padding-top: calc(env(safe-area-inset-top) + 2rem);
    min-width: 1rem;
    width: 100%;
    max-width: 100%;
    .sidebar {
      padding-top: 0;
    }
    h3 {
      font-size: 2rem;
    }
  }

  body {
    background: var(--neko-channels-background);
  }
}
