.incoming {
  display: flex;
  img {
    width: 105px;
    height: 105px;
    border-radius: 16px;
    object-fit: cover;
    background: var(--neko-channels-background);
  }

  h3,
  p {
    margin: 0;
  }

  .details {
    margin-left: 0.8rem;
    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 15px;
    }
    .buttons {
      display: flex;
      flex-direction: row;

      button {
        width: 50px;
        height: 50px;

        &:not(:first-child) {
          margin-left: 0.4rem;
        }

        &:not(:first-child),
        &:not(:last-child) {
          background: var(--neko-colors-danger);
        }

        &:first-child {
          background: var(--neko-colors-warning);
        }

        &:last-child {
          width: auto;
          background: var(--neko-colors-dark);
        }

        &:not(:last-child) {
          margin-right: 0.4rem;
        }
      }
    }
  }

  @media (max-width: 740px) {
    // button {
    //   width: auto;
    //   min-width: auto;
    //   background: var(--neko-text-inverse);
    //   color: var(--neko-text-href);
    // }
    // button:last-child {
    //   background: var(--neko-text-danger);
    //   color: var(--neko-text-inverse);
    // }

    padding: 1rem;
    border-radius: 14px;
    position: static;
    margin: 0;
    padding-top: calc(env(safe-area-inset-top) + 10px);
    height: auto;
    background: var(--neko-colors-primary);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }
}
