.emptyFriends {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--neko-channels-background);

  .container {
    max-width: 300px;
    margin-bottom: 1rem;
    h1 {
      margin-bottom: 0.8rem;
      font-size: 1rem;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 0.8rem;
    }
  }

  iframe {
    border-radius: 15px;
    width: 75%;
    max-width: 740px;
    height: 50%;
  }
}
