// .invite {
//   h3,
//   p {
//     margin: 0;
//   }

//   form {
//     display: flex;
//     flex-direction: column;
//   }

//   label {
//     margin-top: 1rem;
//     margin-bottom: 0.3rem;
//   }

//   p {
//     margin-top: 0.3rem;
//   }

//   button {
//     margin-top: 0.8rem;
//     background: var(--neko-primary);
//     height: 3rem;
//   }

//   p {
//     color: var(--neko-danger);
//   }
// }

.newConversation {
  margin-top: 0.5rem;
  form {
    display: block;
    width: 100%;

    position: relative;
    input {
      font-size: 0.8rem;
      font-weight: 400;
      width: 100%;
      background: var(--neko-sidebar-background);

      &::-webkit-input-placeholder {
        color: var(--neko-text-normal);
        opacity: 0.5;
      }
    }

    .search {
      position: absolute;
      bottom: 0.5rem;
      padding: 0;
      background: none;
      color: var(--neko-text-inverse);
      background: var(--neko-colors-primary);
      border-radius: 50%;
      padding: 0.5rem;
      right: 0.9rem;
      // 0.9rem 1.2rem
    }

    .searchError {
      position: absolute;
      bottom: 0.5rem;
      padding: 0;
      background: none;
      color: var(--neko-text-inverse);
      background: var(--neko-colors-danger);
      border-radius: 50%;
      padding: 0.5rem;
      right: 0.9rem;
    }

    .searchPlaceholder {
      position: absolute;
      bottom: 0.9rem;
      padding: 0;
      background: none;
      color: var(--neko-text-normal);
      right: 1.2rem;
      opacity: 0.5;
    }
  }
}
