.chat {
  position: relative;
  padding-bottom: 0;
  font-size: 1.3125rem;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .header {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    height: 5.65rem;
    min-height: 5.65rem;
    z-index: 3;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(25px);
    position: absolute;
    width: 100%;
    button {
      background: var(--neko-colors-primary);
      color: var(--neko-text-inverse);
      padding: 0.5rem;
      height: 2.65rem;
      width: 2.65rem;
      border-radius: 12px;
      margin-left: auto;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 2.65rem;

      p {
        margin: 0;
      }
    }

    .status {
      margin: 0;
      margin-top: 0.3rem;
      font-weight: 400;
      font-size: 0.9rem;
    }

    .icon {
      background: var(--neko-colors-primary);
      margin-right: 0.7rem;
      padding: 0.5rem;
      height: 2.65rem;
      width: 2.65rem;
      border-radius: 12px;
      color: var(--neko-text-inverse);
      cursor: pointer;
      svg {
        align-self: center;
      }
      display: flex;
      vertical-align: middle;
      justify-content: center;
    }
  }

  .typing {
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: calc(env(safe-area-inset-bottom) + 0.5rem);
  }

  @media (max-width: 940px) {
    .header {
      height: calc(env(safe-area-inset-top) + 4.65rem);
      min-height: calc(env(safe-area-inset-top) + 4.65rem);
      padding-top: calc(env(safe-area-inset-top) + 1rem);
    }
  }
}

.placeholder {
  position: relative;
  padding-bottom: 0;
  font-size: 1.3125rem;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  width: 100%;

  .header {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    min-height: 2.65rem;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 2.65rem;

      .name {
        height: 1.5rem;
        width: 5rem;
        background: var(--neko-channels-background);
        border-radius: 7px;
      }
      .status {
        height: 1.15rem;
        width: 10rem;
        background: var(--neko-channels-background);
        border-radius: 6px;
      }
    }

    .status {
      margin: 0;
      margin-top: 0.3rem;
      font-weight: 400;
      font-size: 0.9rem;
    }

    .icon {
      background: var(--neko-channels-background);
      margin-right: 0.7rem;
      padding: 0.5rem;
      height: 2.65rem;
      width: 2.65rem;
      border-radius: 12px;
      display: flex;
      vertical-align: middle;
      justify-content: center;
    }
  }

  @media (max-width: 940px) {
    padding-top: calc(env(safe-area-inset-top) + 0.8rem);
    .header {
      margin-top: 0.5rem;
    }
  }

  .messages {
    margin-top: auto;
    max-height: 100%;
    overflow-y: scroll;
  }
}

.buttonGroup {
  display: flex;
  margin-left: auto;

  :not(:first-child) {
    margin-left: 0.4rem;
  }

  :not(:last-child) {
    background: var(--neko-colors-secondary) !important;

    margin-right: 0.4rem;
  }
}
