.chat {
  position: relative;
  padding-bottom: 0;
  font-size: 1.3125rem;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .header {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    min-height: 2.65rem;
    z-index: 5;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 2.65rem;

      p {
        margin: 0;
      }
    }

    .icon {
      background: var(--neko-colors-primary);
      margin-right: 0.7rem;
      padding: 0.5rem;
      height: 2.65rem;
      width: 2.65rem;
      border-radius: 12px;
      svg {
        align-self: center;
      }
      display: flex;
      vertical-align: middle;
      justify-content: center;
    }
  }

  .loader {
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.5rem;

    h5 {
      margin-bottom: 0;
    }
  }
}

.buffer {
  height: 1.5rem;
}

.box {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 0;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  justify-content: space-between;

  button {
    height: 3.125rem;
    width: 3.125rem;
    background: var(--neko-input-background);
    color: var(--neko-input-text);
    margin-left: 0.5rem;
    font-size: 1.05rem;
  }

  .uploadInput {
    display: none;
  }

  aside {
    border-radius: 10px !important;
    position: absolute !important;
    z-index: 10;
    bottom: 5.5rem;
    right: 2rem;
    box-shadow: var(--neko-shadow) !important;
    border: none !important;
    color: var(--neko-text) !important;
    background-color: var(--neko-foreground) !important;

    input {
      background-color: var(--neko-background);
      border: none !important;
      color: var(--neko-text);
    }
    ul::before {
      background: var(--neko-foreground) !important;
      color: var(--neko-text) !important;
    }

    button {
      color: var(--neko-text) !important;
    }
    button:first-child {
      margin-left: 0;
    }
  }

  form {
    display: flex;
    width: 100%;
    z-index: 3;

    input {
      width: 100%;
      height: 3.125rem;
      font-size: 1.05rem;
      margin: 0;
      flex: 1;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      color: var(--neko-input-text);
      background: var(--neko-input-background);
      border: none;
      border-radius: 14px;
      outline: none;

      &::placeholder {
        font-family: Inter, sans-serif;
        opacity: 0.65;
        color: var(--neko-input-text);
      }
    }
  }
}

.top {
  margin-top: auto;
  h3 {
    margin-bottom: 0;
  }
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.messagesWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.messages {
  margin-top: auto;
  max-height: 100%;
  overflow-y: scroll;
}

.typing {
  position: absolute;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  bottom: 0.5rem;
  left: 2rem;
}

.status {
  margin: 0;
  margin-top: 0.3rem;
  font-weight: 400;
  font-size: 0.9rem;
}
