.mentionPopup {
  position: absolute;
  margin-left: 2rem;
  margin-right: 2rem;
  bottom: 0rem;
  z-index: 3;
  .mentions {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    flex-direction: row;
    .mention {
      cursor: default;
      background: var(--neko-chat-background);
      font-weight: 400;
      font-size: 1rem;
      padding: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 12px;
      height: 3.125rem;
      display: flex;
      background: var(--neko-input-background);
      align-items: center;
      .img {
        width: 30px;
        height: 30px;
        background: var(--neko-chat-background);
        margin-right: 0.5rem;
        border-radius: 8px;

        background-size: cover;
      }

      &:hover {
        background: var(--neko-colors-secondary);
      }

      &.selected {
        background: var(--neko-colors-primary);
      }
    }
  }
}
