.mention {
  font-weight: 600;
  color: var(--neko-mention-other);
  cursor: pointer;

  &.isMe {
    color: var(--neko-mention-me);
    border-radius: 4px;
  }

  &.selected {
    color: var(--neko-text-inverse);
    font-weight: 700;
  }
}
