.message {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;

  h2 {
    font-size: 1rem;
    margin: 0;

    span {
      margin-left: 0.5rem;
      font-size: 0.8rem;
      font-weight: 300;
    }
  }

  p {
    line-height: 1.5rem;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    min-width: fit-content;
    max-width: 100%;
    display: inline-block;
    clear: both;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    user-select: text;
  }

  &:hover {
    background: var(--neko-chat-hover);
  }

  &.primary {
    margin-top: 0.8rem;
  }

  .avatar {
    width: 2.65rem;
    height: 2.65rem;
    object-fit: cover;
    border-radius: 12px;
  }

  .content {
    margin-left: 1rem;
    overflow: hidden;
    width: 100%;

    a {
      color: var(--neko-text-href);
      text-decoration: none;
    }

    &.spacer {
      margin-left: 3.65rem;
    }
  }

  .imageEmbed {
    img {
      margin-top: 0.5rem;
      max-width: 50%;
      max-height: 300px;
      border-radius: 10px;
      height: auto;
      width: auto;
      object-fit: cover;
    }
  }

  .text {
    margin: 0;
    padding: 0;
    line-height: 1.325rem;
    font-size: 1rem;
  }
}

.audioEmbed {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem;
  padding-left: 1rem;

  //max-width: 45%;

  border-radius: 16px;
  background: var(--neko-input-background);

  * {
    margin-right: 1rem;
  }

  .icon {
  }

  input {
    flex: 1;
    border: hidden;

    appearance: none;
    -webkit-appearance: none;
    outline: none;

    &::-webkit-slider-runnable-track {
      appearance: none;
      -webkit-appearance: none;
      background: var(--neko-chat-background);
      border-radius: 10px;
      margin:-2px;
    }

    &::-moz-range-track {
      appearance: none;
      -webkit-appearance: none;
      background: var(--neko-chat-background);
      border-radius: 10px;
      margin:-6px;
      height: 15px;
    }

    &::-moz-range-thumb {
      appearance: none;
      -webkit-appearance: none;
      background: var(--neko-default-primary);
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
      border: none;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      background: var(--neko-default-primary);
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
    }
  }

  span {
    font-size: 1rem;
    font-weight: 500;
  }
}