.messages {
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  max-height: 100%;
  overflow-y: scroll;

  .loader {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 0 0.5rem;

    h5 {
      margin-bottom: 0;
    }
  }

  .top {
    margin-top: auto;
    padding-top: 8rem;
    h3 {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .indicator {
    background: var(--neko-text-primary);
    height: 1px;

    margin: 0.5rem 2rem;
    border-radius: 12px;
    position: relative;
    hr {
      opacity: 0;
    }

    span {
      position: absolute;
      right: 0;
      padding: 0.5rem;
      border-radius: 10px;
      top: -0.98rem;
      font-size: 0.7rem;
      font-weight: 300;
      background: var(--neko-text-primary);
    }
  }

  .buffer {
    margin-bottom: 1.5rem;
  }
}

.waypoint {
  padding-top: 2rem;
}

.noKeychain {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5rem;
  }
}
