.store {
  overflow-y: scroll;
  // overflow-x: hidden;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.owo {
  width: 100%;
  height: 100px;
  overflow-x: auto;
  .uwu {
    width: 1000000px;
    height: 10px;
    background-color: green;
  }
}
