.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--neko-foreground) url('https://file.coffee/u/9sWBUcVc8i.png')
    repeat 0 0;
  margin: 0;
  box-sizing: border-box;
  animation: slide 20s linear infinite;
}

@media (max-width: 800px) {
  .wrapper {
    background: var(--neko-foreground);
  }
  .card {
    width: 100%;

    input {
      width: 100%;
      max-width: 100%;
    }
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

.card {
  display: block;
  background-color: var(--neko-background);
  border-radius: 8px;
  padding: 2rem;

  h1 {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: 800;
  }

  h2 {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
}
