.audioEmbed {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  max-width: 25rem;

  border-radius: 16px;
  background: var(--neko-input-background);

  .stack {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1rem;
  }

  button {
    height: 2.5rem;
    width: 2.5rem;
    background: var(--neko-colors-primary);
  }

  input {
    flex: 1;
    border: hidden;

    appearance: none;
    -webkit-appearance: none;
    outline: none;

    &::-webkit-slider-runnable-track {
      appearance: none;
      -webkit-appearance: none;
      background: var(--neko-chat-background);
      border-radius: 10px;
      margin: -2px;
    }

    &::-moz-range-track {
      appearance: none;
      -webkit-appearance: none;
      background: var(--neko-chat-background);
      border-radius: 10px;
      margin: -6px;
      height: 15px;
    }

    &::-moz-range-thumb {
      appearance: none;
      -webkit-appearance: none;
      background: var(--neko-default-primary);
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
      border: none;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      background: var(--neko-default-primary);
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
    }
  }

  span {
    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 0.2rem;
  }
}

.downloadButton {
  margin-right: 10px;

}