.file {
  background: var(--neko-backgrounds-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  max-width: 25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  svg {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    small {
      font-size: 0.9rem;
    }

    p {
      font-size: 1rem;
    }
  }

  border-radius: 12px;

  button {
    margin-left: auto;
    background: var(--neko-colors-primary);
  }
}

.imagePreview {
  img {
    border-radius: 10px;
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}

.imageEmbed {
  cursor: pointer;
  img {
    margin-top: 0.5rem;
    max-width: 600px;
    max-height: 300px;
    border-radius: 10px;
    height: auto;
    width: auto;
    object-fit: cover;
  }
}

.imagePlaceholder {
  margin-top: 0.5rem;
  background: var(--neko-channels-background);
  border-radius: 10px;
}
