.organizations {
  h3 {
    margin-top: 0;
  }

  h4 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.7rem 0 0.3rem;
    span {
      float: right;
    }

    .add {
      cursor: pointer;
      margin-left: auto;
    }
  }

  .list {
    margin-top: 0.15rem;
    width: 100%;
  }
}
