.icon {
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-height: 45px;
  border-radius: 10px;
  position: relative;
  background-size: contain;
  margin-right: 0.5rem;
  background-color: var(--neko-sidebar-background);
  .badge {
    position: absolute;
    height: 16.45px;
    border-radius: 50%;
    width: 16.45px;
    bottom: -3.45px;
    right: -3.45px;
    border-color: var(--neko-channels-background);
    border-width: 3.45px;
    border-style: solid;
    &.selectedBadge {
      border-color: var(--neko-status-selected);
    }
    &.online {
      background: var(--neko-status-online);
    }
    &.dnd {
      background: var(--neko-status-dnd);
    }
    &.idle {
      background: var(--neko-status-idle);
    }
    &.offline {
      background: var(--neko-status-offline);
    }
  }
}
