.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--neko-channels-background);

  hr {
    border-color: var(--neko-channels-seperator);
    opacity: 0.5;
    border-style: solid;
  }

  .hasFriends {
    max-width: 250px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-bottom: 0.8rem;
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 0.8rem;
    }
  }

  .noFriends {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      background: var(--neko-colors-primary);
    }
  }

  .friends {
    width: 100%;
    text-align: left;
    .friendSuggestion {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin-bottom: 0;
      }
      h4,
      p {
        margin: 0;
      }
      .chrevron {
        margin-left: auto;
      }

      svg {
        font-size: 1.5rem;
        color: var(--neko-text-href);
      }
    }
  }

  iframe {
    border-radius: 15px;
    width: 75%;
    max-width: 740px;
    height: 50%;
  }
}
