.footer {
  width: 100%;
  padding: 3.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .socials {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto;

    a {
      color: var(--neko-text-normal);
      color: var(--neko-default-text);
    }
  }

  p {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 0.35rem;
    color: var(--neko-default-text);
  }

  h4 {
    margin: 0;
    color: var(--neko-default-text);
  }
}
