html,
body {
  height: 100%;
  @media not all and (display-mode: standalone) {
    height: -webkit-fill-available;
  }
}

.subscribed {
  color: var(--neko-default-success);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: var(--neko-default-foreground);

  z-index: 0;

  .heroContainer {
    flex: 1;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    z-index: 2;
    max-width: 70rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .hero {
    z-index: 2;
    display: flex;
    width: 100%;

    color: var(--neko-default-text);
    align-items: center;
    justify-content: center;

    .octii {
      margin-left: auto;
      @media (max-width: 1200px) {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      justify-content: start;
    }
    h1 {
      font-size: 3rem;
      margin: 0;
    }

    h2 {
      font-weight: 400;
    }

    form {
      label {
        margin-top: 0.8rem;
        display: inline-block;
        margin-bottom: 0.25rem;
      }
      .input {
        display: flex;
      }
      input {
        color: var(--neko-default-text);
        flex: 1;
        background: var(--neko-default-background);
        margin-right: 0.5rem;

        @media (prefers-color-scheme: dark) {
          background: var(--neko-default-foreground);
        }
      }

      button {
        background: var(--neko-default-primary);
        color: var(--neko-default-text-inline);
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    background: var(--neko-default-background);
  }

  .features {
    z-index: 2;
    width: 100%;
  }
}

.container {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4rem;
  height: 20rem;
  background-color: var(--neko-default-primary);
}

.error {
  color: var(--neko-default-danger);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
  width: 100%;
  height: 100%;
  align-items: center;
}

@media (max-width: 740px) {
  .wrapper {
    .hero {
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1rem;
      }
    }
  }
  .heroContainer {
    max-width: 100%;
  }
  .centered {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  input {
    width: 100%;
  }

  .heroLeft {
    max-width: 300px;
    width: 100%;
  }
}

@media (max-height: 480px) {
  .wrapper {
    overflow: scroll;
    min-height: 500px;
  }
}
