.navbar {
  max-width: 700px;
  width: 100%;
  display: flex;
  img,
  picture {
    width: 3rem;
    height: 3rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
    cursor: pointer;
  }

  button {
    cursor: pointer;
    border: 0;
    margin: 0;
    background: transparent;
    padding: 0;
    font-size: 1.2rem;
    opacity: 0.8;
    margin-left: auto;
    color: var(--neko-default-text);
  }
  align-items: center;
}
