.onboarding {
  background: var(--neko-default-gradient-background);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    text-align: center;
    h1,
    p {
      margin: 0;
    }

    .cards {
      margin-top: 1rem;
      width: 100%;
      .card {
        background: var(--neko-default-foreground);
        padding: 1.5rem;
        border-radius: 13px;
        width: 100%;
        margin-bottom: 0.5rem;
        justify-content: left;
        display: flex;
        cursor: pointer;
        svg {
          margin-left: auto;
          font-size: 1.4rem;
        }
      }

      .popup {
        position: fixed;
      }
    }
    p {
      margin-top: 0.5rem;
      font-weight: 300;
      opacity: 0.8;
    }
    h1 {
      font-size: 1.8rem;
      font-weight: 900;
    }
    button {
      justify-content: left;
      display: flex;
      svg {
        margin-left: auto;
        font-size: 1.4rem;
      }
      margin-top: 1rem;
      width: 100%;
      background: var(--neko-default-primary);
    }
  }

  .octiiTesters {
    @extend .container;

    button {
      justify-content: center;
    }

    .skip {
      margin-top: 0;
      background: transparent;
    }
  }

  .disclosure {
    @extend .container;

    button {
      justify-content: center;
      background: var(--neko-default-danger);
    }

    .skip {
      margin-top: 0;
      background: transparent;
    }
  }
}
