.product {
  padding: 2rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  .header {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 0.8rem;
      height: 2.65rem;
      width: 2.65rem;
      min-height: 2.65rem;
      min-width: 2.65rem;
      background-color: var(--neko-settings-card);
      background-size: contain;
      border-radius: 12px;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 2.65rem !important;
      .community {
        border-radius: 5px;
        background-color: var(--neko-settings-card);
        height: 0.9rem;
        width: 3rem;
      }
      .subtitle {
        border-radius: 5px;
        background-color: var(--neko-settings-card);
        height: 1.3125rem;
        width: 5rem;
      }
    }

    .newButton {
      height: 2.65rem;
      margin-left: auto;
      background: var(--neko-colors-primary);
    }
  }

  h1,
  h2 {
    margin: 0;
  }
}
