.grid {
  flex: 1;
  display: flex;
  margin-top: 2rem;
  overflow-y: auto;
  flex-wrap: wrap;

  * {
    margin: 1rem;
  }
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;

  .name {
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, backdrop-filter 0.5s ease-in-out;
    transition: opacity 0.2s ease-in-out,
      -webkit-backdrop-filter 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 10px;

    &:hover {
      opacity: 1;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }

    h1 {
      margin: 0;
    }
  }
}

.channel {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.button {
  background: var(--neko-colors-primary);
  margin-left: auto;
}
