.input {
  font-family: Inter, sans-serif;
  border: 0;
  border-radius: 8px;

  outline: none;

  margin: 0;
  padding: 1.2rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;

  transition: ease-in-out box-shadow 0.15s;

  font-weight: 500;
  font-size: 1rem;

  background-color: var(--neko-foreground);
  color: var(--neko-text);
  &::placeholder {
    font-family: Inter, sans-serif;
    opacity: 1;
    color: var(--neko-text);
  }
}
