.input {
  font-family: Inter, sans-serif;
  border: 0;
  border-radius: 13px;

  outline: none;

  margin: 0;
  padding: 0.9rem 1.2rem;

  transition: ease-in-out box-shadow 0.15s;

  font-weight: 500;
  font-size: 1rem;

  background: var(--neko-input-background);
  color: var(--neko-text);
  &::placeholder {
    font-family: Inter, sans-serif;
    opacity: 1;
    color: var(--neko-text);
  }
}
