.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: var(--neko-modal-background);

    &.blur {
      backdrop-filter: blur(20px);
    }
  }

  .content {
    max-width: 50%;
    position: relative;
    margin: auto;
    z-index: 10;
    padding: 2rem;
    border-radius: 16px;
    background: var(--neko-modal-foreground);
  }

  @media (max-width: 940px) {
    .content {
      width: 90%;
      max-width: 90%;
    }
  }
}

.fullscreen {
  .content {
    display: flex;
    justify-content: center;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
