.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: var(--neko-overground);
  }

  .content {
    position: relative;
    margin: auto;
    z-index: 10;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--neko-background);
  }
}

.fullscreen {
  .content {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}