.status {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 5.75rem;
  //bottom: 5rem;
  background: var(--neko-channels-background);
  width: 17.5rem;
  border-radius: 16px;

  padding: 1.5rem;

  h1 {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0;
    margin: 0 0 0.8rem;
    span {
      float: right;
    }
  }

  .statusButtons {
    display: flex;
    width: 100%;

    margin-bottom: 1rem;

    button {
      height: 3rem;
      width: 3rem;
      font-size: 1.25rem;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: 0.8rem;
      }

      &.active {
        border-color: var(--neko-status-online);
        border: 2px solid;
        background: red;
      }

      &.online {
        color: var(--neko-status-online);
        background: var(--neko-settings-background);
      }
      &.dnd {
        color: var(--neko-status-dnd);
        background: var(--neko-settings-background);
      }
      &.idle {
        color: var(--neko-status-idle);
        background: var(--neko-settings-background);
      }
      &.offline {
        color: var(--neko-status-offline);
        background: var(--neko-settings-background);
      }
    }
  }

  .form {
    input {
      background-color: var(--neko-settings-background);

      margin-bottom: 1rem;

      &::placeholder {
        font-family: Inter, sans-serif;
        opacity: 0.65;
        font-weight: 300;
        color: var(--neko-input-text);
      }
    }

    p {
      margin-top: 0;
      color: var(--neko-text-danger);
    }

    button {
      background: var(--neko-colors-primary);
    }
  }

  // , (max-height: 420px)
  @media (max-width: 740px) {
    left: 1rem;
    width: auto;
    right: 1rem;
    bottom: calc(env(safe-area-inset-bottom) + 6.5rem);
  }
}

.logoutButton {
  bottom: 13rem;
}

.logout {
  text-align: center;
  background: var(--neko-colors-danger);
  border-radius: 10px;
  color: var(--neko-text-inverse);
  padding: 0.75rem;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}
