.statusBar {
  height: 100%;
  width: 100%;

  &.sidebar {
    width: auto;
  }
  @media (max-width: 740px) {
    padding-top: env(safe-area-inset-top);

    &.sidebar {
      height: calc(100% - (5.5rem + env(safe-area-inset-bottom)));
    }
  }
}
