.update {
  width: 300px;
  div {
    display: flex;
  }

  h3 {
    padding: 0;
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
  }

  button {
    width: 100%;
    background: var(--neko-colors-warning);
  }
}
