.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 10rem));
  grid-gap: 0.8rem;
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 0;

  .selected {
    background: var(--neko-colors-primary);
    color: var(--neko-text-inverse);
  }

  li {
    text-align: center;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    width: 10rem;
    background: var(--neko-settings-card);
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 12px;
  }

  @media (max-width: 873px) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

    li {
      width: 100%;
    }
  }
}

.placeholder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 10rem));
  grid-gap: 0.8rem;
  padding-left: 0;
  margin: 1rem 0 0;
  margin-bottom: 1rem;

  .item {
    width: 10rem;
    background: var(--neko-settings-card);
    height: 2.9rem;
    border-radius: 12px;
  }

  @media (max-width: 740px) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

    .item {
      width: 100%;
    }
  }
}
