.invite {
  background: var(--neko-channels-background);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    background: var(--neko-colors-primary);
    width: 100%;
    margin-top: 1rem;

    &:disabled {
      cursor: not-allowed;
      background: var(--neko-colors-secondary);
    }
  }
  .community {
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    background: var(--neko-sidebar-background);

    .name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p, h4 {
        margin: 0;
      }
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1rem;
      border-radius: 10px;
    }
  }
}
