.profile {
  padding-top: 5rem;
  overflow-y: scroll;

  form {
    background: var(--neko-settings-card);
    padding: 2rem;
    border-radius: 14px;
    height: auto;

    margin-bottom: 2rem;
    max-width: 500px;
    h2,
    h5,
    h6,
    p {
      margin: 0;
    }

    .inputName {
      margin-bottom: 0.5rem;
      display: block;
    }
    .username,
    .discriminator {
      margin-top: 0.8rem;
      input {
        background: var(--neko-settings-background);
        width: 100%;
      }
    }

    .save {
      margin-top: 1rem;
      background: var(--neko-colors-primary);
    }
  }
  @media (max-height: 740px) {
    padding-top: 2.5rem;
  }

  @media (max-width: 740px) {
    padding-top: calc(env(safe-area-inset-top) + 2rem);
    margin-top: 0;
    width: 100%;
    .icon {
      background: var(--neko-colors-primary);
      margin-right: 0.7rem;
      padding: 0.5rem;
      height: 2.65rem;
      width: 2.65rem;
      border-radius: 12px;
      color: var(--neko-text-inverse);
      cursor: pointer;
      svg {
        align-self: center;
      }
      display: flex;
      vertical-align: middle;
      justify-content: center;
    }

    form {
      padding: 1.5rem;
      max-width: 100%;
    }
    h2 {
      display: flex;
      align-items: center;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
