.profile {
  padding-top: 5rem;
  overflow-y: scroll;

  form {
    background: var(--neko-settings-card);
    padding: 2rem;
    border-radius: 14px;
    height: auto;

    margin-bottom: 2rem;
    max-width: 500px;
    h2,
    h5,
    h6,
    p {
      margin: 0;
    }


    .inputName {
      margin-bottom: 0.5rem;
      display: block;
    }
    .username,
    .discriminator {
      margin-top: 0.8rem;
      input {
        background: var(--neko-settings-background);
        width: 100%;
      }
    }

    .save {
      margin-top: 1rem;
      background: var(--neko-colors-primary);
    }
  }
  @media (max-height: 740px) {
    padding-top: 2.5rem;
  }

  @media (max-width: 740px) {
    margin-top: 0;

    form {
      padding: 1.5rem;
    }
    h2 {
      display: flex;
      align-items: center;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
