.purchases {
  padding: 2rem;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background-color: var(--neko-settings-background);

  @media (max-width: 740px) {
    background: var(--neko-settings-card);

    .card {
      background-color: var(--neko-settings-background);
    }
  }
}

.header {
  display: flex;
  align-items: center;
}
