.security {
  padding-top: 5rem;
  overflow-y: scroll;
  h2,
  h5,
  h4,
  h6,
  p {
    margin: 0;
  }

  .status {
    margin-top: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
  .error {
    margin-top: 0.25rem;
    margin-bottom: 0;
    color: var(--neko-text-danger);
  }

  .form {
    background: var(--neko-settings-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 14px;
    height: auto;
    max-width: 500px;
    min-width: 500px;

    h4 {
      font-weight: 400;
    }
    .password {
      margin-top: 0.8rem;
      label {
        font-weight: 700;
      }
      input {
        margin-top: 0.5rem;
        background: var(--neko-settings-background);
        width: 100%;
      }
    }

    .save {
      margin-top: 1rem;
      background: var(--neko-colors-primary);
    }

    .primary {
      background: var(--neko-colors-primary);
    }

    .danger {
      background: var(--neko-colors-danger);
    }

    .settingsButton {
      width: 100%;
      margin-top: 1rem;
    }
  }

  @media (max-height: 740px) {
    padding-top: 2.5rem;
  }

  @media (max-width: 990px) and (min-width: 741px) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    width: 100%;
    .form {
      padding: 0;
      max-width: 100%;
      min-width: 100%;
      background: var(--neko-settings-background);

      .password {
        input {
          background: var(--neko-settings-card);
        }
      }
    }
  }

  @media (max-width: 740px) {
    padding-top: 2rem;
    margin-top: 0;
    .icon {
      background: var(--neko-colors-primary);
      margin-right: 0.7rem;
      padding: 0.5rem;
      height: 2.65rem;
      width: 2.65rem;
      border-radius: 12px;
      color: var(--neko-text-inverse);
      cursor: pointer;
      svg {
        align-self: center;
      }
      display: flex;
      vertical-align: middle;
      justify-content: center;
    }

    .form {
      padding: 1.5rem;
      max-width: 100%;
      min-width: 100%;
    }

    h2 {
      display: flex;
      align-items: center;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

.developer {
  padding: 2rem;
  border-radius: 14px;
  background: var(--neko-settings-card);

  .copyToken {
    width: 100%;
    background: var(--neko-colors-danger);
  }

  @media (max-width: 990px) and (min-width: 741px) {
    background: var(--neko-settings-background);
    padding: 0;
  }

  @media (max-width: 740px) {
    padding: 1.5rem;
  }
}
