.settings {
  display: flex;
  width: 100%;
  height: 100%;
  .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 740px) {
    display: block;
  }

  .info {
    margin-top: auto;

    .buildInfo {
      margin-top: auto;
    }
    .logout {
      text-align: center;
      background: var(--neko-colors-danger);
      border-radius: 10px;
      color: var(--neko-text-inverse);
      padding: 0.75rem;
      margin-top: 1rem;
      width: 100%;
      cursor: pointer;
    }
  }
}
