.settingsModal {
  z-index: 1000;

  background: var(--neko-sidebar-background);
}

.settings {
  display: flex;
  height: 100%;
  flex-direction: row;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.left {
  width: 100%;
  background: var(--neko-channels-background);
}

.right {
  width: 100%;
}

@media (max-width: 800px) {
  .left {
    display: none;
  }

  .right {
    display: none;
  }
}
