.wrapper {
  width: 100%;
  margin: 2rem;
  @media (min-width: 800px) {
    min-width: 500px;
  }

  h2,
  p {
    margin: 0;
  }

  h2 {
    span {
      float: right;
    }
  }

  h3 {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }

  p {
    margin-top: 0.3rem;
  }

  button {
    margin-top: 0.8rem;
    background: var(--neko-colors-primary);
    height: 3rem;
  }

  p {
    color: var(--neko-colors-danger);
  }
}

.backButton {
  margin-right: 1rem;
  color: var(--neko-colors-primary);
}

.themes {
  width: 100%;

  h5 {
    margin: 0;
  }
  div {
    background: var(--neko-channels-background);
    display: flex;
    align-items: center;
    padding: 0.75rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
  }

  button {
    background: var(--neko-channels-background);
  }
  .selected {
    background: var(--neko-colors-primary);
    color: var(--neko-text-inverse);
  }

  div:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  div:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.profile {
  margin-top: 0.5rem;
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .avatar {
    object-fit: cover;
    border-radius: 10px;
    height: 124px;
    width: 124px;
    margin: 0;
  }

  .overlay {
    transition: opacity 300ms ease-in-out;
    border-radius: 10px;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 124px;
    width: 124px;
    background: var(--neko-overground);
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      color: #fff;
    }
  }

  .avatarContainer {
    margin-top: 0.2rem;
    position: relative;

    input {
      display: none;
    }
  }
  .avatarContainer:hover {
    .overlay {
      opacity: 1;
    }
  }

  .avatar:hover {
    background: var(--neko-overground);
  }

  .username {
    @media (min-width: 800px) {
      margin-left: 1rem;
    }
    display: flex;
    flex-direction: column;

    width: 100%;
    input {
      margin-top: 0.2rem;
      margin-bottom: 0.5rem;
    }
    label {
      margin: 0;
    }
  }
}

.buttonRow {
  width: 100%;
  display: flex;
  flex-direction: row;

  button {
    flex: 1;
    background: var(--neko-colors-secondary);

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .selected {
    background: var(--neko-colors-primary);
    color: var(--neko-text-inverse);
  }
}
