.themes {
  width: 100%;
  margin: 2rem;

  h4,
  h2 {
    margin: 0;
  }

  h4 {
    margin-top: 0.7rem;
    margin-bottom: 0.45rem;
  }
  .variations {
    width: 100%;
    display: flex;
    flex-direction: row;

    .selected {
      background: var(--neko-colors-primary);
      color: var(--neko-text-inverse);
    }
    button {
      flex: 1;
      color: var(--neko-text-normal);
      background: var(--neko-channels-background);

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  .colors {
    width: 100%;
    .theme {
      background: var(--neko-channels-background);
      display: flex;
      align-items: center;

      padding: 0.9rem 1.2rem;
      margin-bottom: 0.25rem;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
      }

      &:last-child {
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
      }
    }

    .selected {
      background: var(--neko-colors-primary);
      color: var(--neko-text-inverse);
    }
  }

  @media (min-width: 800px) {
    min-width: 500px;
  }
}
