.addFriend {
  width: 100%;
  height: 3.5rem;
  position: relative;
  input {
    font-size: 0.9rem;
    font-weight: 400;
    width: 100%;
    background: var(--neko-channels-background);
    height: 100%;
    padding: 1rem;
    &::-webkit-input-placeholder {
      color: var(--neko-text-normal);
      opacity: 0.5;
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    bottom: 1rem;
    background: none;
    color: var(--neko-text-inverse);
    background: var(--neko-colors-primary);
    font-size: 0.8rem;
    height: 1.5rem;
    border-radius: 100%;
    width: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    right: 1rem;
  }

  .searchError {
    @extend .search;
    background: none;
    color: var(--neko-text-inverse);
    background: var(--neko-colors-danger);
    font-size: 1.1rem;
  }

  .searchPlaceholder {
    @extend .search;
    font-size: 1rem;
    background: none;
    color: var(--neko-text-normal);
    opacity: 0.5;
  }
}
