.emptyFriends {
  height: 100%;
  width: 100%;
  background: var(--neko-channels-background);

  .container {
    max-width: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    h1 {
      margin-bottom: 0.8rem;
      font-size: 1rem;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 0.8rem;
    }

    button {
      width: 100%;
      background: var(--neko-colors-primary);
    }
  }

  iframe {
    border-radius: 15px;
    width: 75%;
    max-width: 740px;
    height: 50%;
  }
}
