.card {
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 13px;

  .icon {
    height: 36px;
    width: 36px;
    min-height: 36px;
    min-width: 36px;
  }

  .details {
    display: flex;
    align-items: center;
    margin-left: auto;

    .danger {
      color: var(--neko-text-danger);
      cursor: pointer;
    }

    .primary {
      color: var(--neko-text-href);
      margin-right: 0.25rem;
      cursor: pointer;
    }
  }

  h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }
  svg {
    margin-left: 0.2rem;
  }

  &.selected {
    .user {
      p {
        .link {
          color: var(--neko-text-normal);
          font-weight: 500;
        }
      }
    }
    .avatar {
      .groupIcon {
        background: var(--neko-channels-background);
      }
    }
  }
}

.placeholder {
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 16px;

  .avatar {
    height: 36px;
    width: 36px;

    border-radius: 14px;
    position: relative;
    background: var(--neko-sidebar-background);
  }

  .user {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .username {
      height: 1.05rem;
      margin: 0 0 0.25rem 0.5rem;
      width: 5rem;
      border-radius: 6px;
      background: var(--neko-sidebar-background);
    }

    .status {
      padding: 0;
      height: 0.75rem;
      margin: 0 0 0 0.5rem;
      width: 8rem;
      border-radius: 6px;
      background: var(--neko-sidebar-background);
    }
  }
}

.selected {
  background: var(--neko-colors-primary) !important;
  color: var(--neko-text-inverse);
  margin-left: -0.6rem;
  padding-left: 0.6rem;
  margin-right: -0.6rem;
  padding-right: 0.6rem;
}

.leave {
  color: var(--neko-colors-danger);
  font-size: 1.5rem;
}
