.lookup {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  .user {
    .profile {
      margin-bottom: 0.8rem;
      display: flex;

      .title {

        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        p {
          margin: 0;
        }
      }
    }

    .buttons {
      margin-top: 0.5rem;
      display: grid;
      grid-template-columns: auto auto;
      gap: 0.5rem;

        button {
          background: var(--neko-colors-danger);

          &:first-child {
            background: var(--neko-colors-primary);
          }

      }
    }

    .details {
      text-align: left;
    }


    background: var(--neko-channels-background);
    width: 100%;
    padding: 2rem;
    border-radius: 16px;
    h4, p {
      margin: 0;
    }
  }
  .search {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    form {
      display: block;
      width: 100%;

      position: relative;
      input {
        font-size: 0.8rem;
        font-weight: 400;
        width: 100%;

        &::-webkit-input-placeholder {
          color: var(--neko-text-normal);
          opacity: 0.5;
        }
      }

      .search {
        margin: 0;
        position: absolute;
        bottom: 0.5rem;
        padding: 0;
        background: none;
        color: var(--neko-text-inverse);
        background: var(--neko-colors-primary);
        border-radius: 50%;
        padding: 0.5rem;
        right: 0.9rem;
      }

      .searchError {
        margin: 0;
        position: absolute;
        bottom: 0.5rem;
        padding: 0;
        background: none;
        color: var(--neko-text-inverse);
        background: var(--neko-colors-danger);
        border-radius: 50%;
        padding: 0.5rem;
        right: 0.9rem;
      }

      .searchPlaceholder {
        position: absolute;
        bottom: 0.9rem;
        padding: 0;
        background: none;
        color: var(--neko-text-normal);
        right: 1.2rem;
        opacity: 0.5;
      }
    }
  }
  div {
    max-width: 450px;
    h1 {
      margin-bottom: 0.8rem;
      font-size: 1.5rem;
      font-weight: 700;
    }

    input {
      background: var(--neko-channels-background);
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 0.8rem;
    }
  }
}
