html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  --neko-background: #e9eef4;
  --neko-foreground: #ffffff;
  --neko-primary: #4d99e6;
  --neko-text-inline: #ffffff;
  --neko-text: #000000;
  --neko-danger: #e01a4f;
}

@media (prefers-color-scheme: dark) {
  body {
    --neko-background: #040a0f;
    --neko-foreground: #202020;
    --neko-primary: #4d99e6;
    --neko-text-inline: #dadada;
    --neko-text: #dadada;
    --neko-danger: #ed5454;
  }
}

.test {
  --neko-background: #040a0f;
  --neko-foreground: #0f1215;
  --neko-primary: #6f96ff;
  --neko-text-inline: #eef4ed;
  --neko-text: #eef4ed;
  --neko-danger: #ed5454;
}

html {
  * {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--neko-text);
    }
  }
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  color: var(--neko-text);
  height: 100vh;
  width: 100vw;
  font-family: Inter, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

#main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

@media (max-width: 800px) {
  #main {
    display: block;
  }
}

.ReactQueryDevtools {
  button {
    right: auto !important;
  }
}
