.groupsPlaceholder {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .cardPlaceholder {
    &:first-child {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
    }
  }

  .cardPlaceholder {
    &:last-child {
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
    }
  }
}

.completelyRounded {
  border-radius: 14px;
}

.wrapper {
  height: 100%;
  width: 100%;
  .groups {
    height: 100%;
    width: 100%;
    background-color: var(--neko-settings-background);
    .new {
      margin-top: 1rem;
      width: 100%;
      background: var(--neko-colors-primary);
    }
    .body {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .header {
      display: flex;
      align-items: center;
      h2 {
        font-size: 1.3125rem;
      }
      small {
        font-size: 0.9rem;
        font-weight: 400;
      }
      .title {
        height: 2.65rem;
      }
      .icon {
        margin-right: 0.8rem;
        height: 2.65rem;
        width: 2.65rem;
        min-height: 2.65rem;
        min-width: 2.65rem;
        background-color: var(--neko-settings-card);
        background-size: contain;
        border-radius: 12px;
      }
    }
    h2 {
      margin: 0;
    }

    h3 {
      margin-bottom: 0.3rem;
      span {
        float: right;
      }
    }

    .empty {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      padding: 2rem;
      margin-bottom: 1rem;
      border-radius: 10px;
      margin-top: 1rem;
      background: var(--neko-settings-card);
      flex-direction: column;

      button {
        background: var(--neko-colors-primary);
      }
      @media (max-width: 740px) {
        width: auto;
        margin-top: 4rem;
        padding: 2rem;
      }
    }
  }

  @media (max-width: 740px) {
    .groups {
      padding-bottom: calc(env(safe-area-inset-bottom) + 5rem);
      .icon {
        background: var(--neko-colors-primary);
        margin-right: 0.7rem;
        padding: 0.5rem;
        height: 2.65rem;
        width: 2.65rem;

        border-radius: 12px;
        font-size: 1.5rem;
        color: var(--neko-text-inverse);
        cursor: pointer;
        svg {
          align-self: center;
        }
        display: flex;
        vertical-align: middle;
        justify-content: center;
      }
    }
  }
}
