.newGroup {
  max-width: 380px;
  overflow-y: scroll;
  h3,
  p {
    margin: 0;
  }

  p {
    margin-top: 0.3rem;
  }

  .body {
    padding: 2rem 2rem 1.25rem;
    display: flex;
    flex-direction: column;

    .inputName {
      margin-top: 1rem;
      margin-bottom: 0.3rem;
    }

    .header {
      display: flex;
      align-items: center;
      small {
        padding: 0;
        margin: 0;
      }
      h2 {
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
      }
      .icon {
        background: var(--neko-colors-secondary);
        margin-right: 0.7rem;
        padding: 0.5rem;
        height: 2.65rem;
        width: 2.65rem;

        border-radius: 12px;
        font-size: 1.25rem;
        color: var(--neko-text-inverse);
        cursor: pointer;
        svg {
          align-self: center;
        }
        display: flex;
        vertical-align: middle;
        justify-content: center;
      }
    }

    .group {
      .title {
        padding-left: 1rem;
        padding-right: 1rem;
        svg {
          margin-left: auto;
          color: var(--neko-text-normal);
        }
        cursor: pointer;
        width: 100%;
        height: 50px;
        border-radius: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;

        &.basic {
          background: var(--neko-colors-primary);
        }

        &.mod {
          background: var(--neko-colors-warning);
        }

        &.admin {
          background: var(--neko-colors-danger);
        }
      }

      .list {
        padding: 0;
        li {
          margin-bottom: 0.5rem;
          border-radius: 11px;
          padding: 0.7rem;
          background: var(--neko-channels-background);
          list-style: none;
          width: 100%;
          display: flex;
          align-items: center;
          svg {
            font-size: 1.8rem;
            margin-left: auto;
          }
        }
      }

      &:last-child {
        .title {
          margin-bottom: 0;
        }
      }
    }
  }
  .bottom {
    background: var(--neko-channels-background);
    margin-top: auto;
    padding: 1.25rem 2rem calc(env(safe-area-inset-bottom) + 2rem);

    @media (max-width: 740px) {
      padding-top: 2rem;
    }
  }

  .createButton {
    margin-top: 0;
    width: 100%;
    background: var(--neko-colors-secondary);
  }

  button {
    width: 100%;
    background: var(--neko-colors-primary);
    height: 3rem;
  }

  @media (max-width: 740px) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    .body {
      overflow-y: scroll;
      padding: 0 2rem;
    }
  }
}

.basic {
  svg {
    transition: color 1s;
    color: var(--neko-text-href);
  }
}
.mod {
  svg {
    color: var(--neko-text-warning);
  }
}
.admin {
  svg {
    color: var(--neko-text-danger);
  }
}
