.hub {
  display: flex;
  width: 100%;
  height: 100%;
  .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  @media (max-width: 740px) {
    display: block;
  }
}
